<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do clima</title>
</head>
<body>
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Resultado final:
    </h1>

{% if temperatura %}
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        A temperatura de {{ cidade }} é de {{ temperatura }} graus Celsius e o clima está: {{ clima }}
    </p>

{% elif retorno_erro %}
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Erro interno! código status: {{ retorno_erro }}
    </p>

{% else %}
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Cidade inválida! Volte e tente novamente.
    </p>

{% endif %}
    
</body>
</html>